---
# configure backstage app

# create app
- name: Create nvm vars
  copy:
    dest: '{{ backstage_username_directory }}/.nvmvars'
    mode: '0644'
    owner: '{{ username }}'
    group: '{{ username }}'
    content: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

- name: Configure backstage
  become: true
  become_method: ansible.builtin.sudo
  become_flags: '-i'
  become_user: '{{ username }}'
  block:
    - name: Install lts/iron
      shell:
        cmd: |
          source .nvmvars
          nvm install lts/iron
      args:
        chdir: '{{ backstage_username_directory }}'
        executable: /bin/bash
    - name: Enable corepack
      shell:
        cmd: |
          source .nvmvars
          corepack enable
      args:
        chdir: '{{ backstage_username_directory }}'
        executable: /bin/bash
    - name: Set yarn version
      shell:
        cmd: |
          source .nvmvars
          yarn set version 4.4.1
      args:
        chdir: '{{ backstage_username_directory }}'
        executable: /bin/bash
    - name: Create backstage app for {{ app_name }}
      shell:
        cmd: |
          set -o pipefail
          source .nvmvars
          echo {{ app_name }} | npx @backstage/create-app@latest
      args:
        chdir: '{{ backstage_username_directory }}'
        executable: /bin/bash
    - name: Add auth provider to backend
      shell:
        cmd: |
          source ../.nvmvars
          yarn --cwd packages/backend add @backstage/plugin-auth-backend-module-github-provider
      args:
        chdir: '{{ backstage_app_directory }}'
        executable: /bin/bash

# configure app
- name: Add certs to gitignore
  lineinfile:
    path: '{{ backstage_app_directory }}/.gitignore'
    line: 'certs/*'
    insertafter: EOF
    state: present

- name: Adding our application config files
  template:
    src: '{{ item.src }}'
    dest: '{{ item.dest }}'
    owner: '{{ username }}'
    group: '{{ username }}'
    mode: '0644'
  loop:
    - { src: 'templates/app-config.local.yaml.j2', dest: '{{ backstage_app_directory }}/app-config.local.yaml'}
    - { src: 'templates/app-config.yaml.j2', dest: '{{ backstage_app_directory }}/app-config.yaml'}

- name: Adding github user to org file
  lineinfile:
    insertafter: EOF
    path: '{{ backstage_app_directory }}/examples/org.yaml'
    line: |
      ---
      apiVersion: backstage.io/v1alpha1
      kind: User
      metadata:
        name: {{ github_username }}
      spec:
        memberOf: [guests]

- name: Add github auth provider (1/2)
  lineinfile:
    path: '{{ backstage_app_directory }}/packages/app/src/App.tsx'
    insertafter: 'import { catalogEntityCreatePermission }'
    line: |
      import { githubAuthApiRef } from '@backstage/core-plugin-api';

- name: Add github auth provider (2/2)
  lineinfile:
    path: '{{ backstage_app_directory }}/packages/app/src/App.tsx'
    regexp: "providers=\\{\\['guest'\\]\\}"
    backrefs: true
    line: |2
          SignInPage: props => <SignInPage {...props} auto providers={['guest', {
                  id: 'github-auth-provider',
                  title: 'GitHub',
                  message: 'Sign in using GitHub',
                  apiRef: githubAuthApiRef,
                  }, ]} />,

- name: Add github provider module to backend
  lineinfile:
    path: '{{ backstage_app_directory }}/packages/backend/src/index.ts'
    insertafter: "^backend\\.add\\(import\\('@backstage/plugin-auth-backend'\\)\\);$"
    line: |
      backend.add(import('@backstage/plugin-auth-backend-module-github-provider'));
