---
# install system packages
- name: Install required packages
  apt:
    pkg:
      - curl
      - htop
      - net-tools
      - make
      - build-essential
      - postgresql
      - libpq-dev
      - npm
    state: latest
    update_cache: true

- name: Get nvm latest version
  uri:
    url: https://api.github.com/repos/nvm-sh/nvm/releases/latest
    return_content: true
    status_code: 200
    body_format: json
  register: backstage_latest_release

- name: Set nvm latest version
  set_fact:
    backstage_nvm_latest_version: "{{ backstage_latest_release.json.tag_name }}"

- name: Download nvm latest binary
  get_url:
    url: 'https://raw.githubusercontent.com/nvm-sh/nvm/{{ backstage_nvm_latest_version }}/install.sh'
    dest: '{{ backstage_username_directory }}/install.sh'
    owner: '{{ username }}'
    group: '{{ username }}'
    mode: '0700'
  register: backstage_install_sh

- name: Install nvm
  shell: '{{ backstage_install_sh.dest }}'
  become: true
  become_method: ansible.builtin.su
  become_user: '{{ username }}'

- name: Remove install.sh
  file:
    path: '{{ backstage_install_sh.dest }}'
    state: absent

- name: Install docker latest
  import_role:
    name: docker

- name: Stop docker service
  systemd:
    name: docker
    state: stopped
