---
# main

- name: Install required packages
  import_tasks: install.yml

- name: Configure postgresql access
  import_tasks: postgres.yml

- name: Configure backstage app
  import_tasks: backstage.yml

- name: Install ssl certs
  import_tasks: ssl.yml

- name: Configure PM2 process manager
  import_tasks: pm2.yml

- name: Clean up
  import_tasks: cleanup.yml
