---
# PM2 process manager
- name: Install pm2 globally
  community.general.npm:
    name: pm2
    global: true
- name: Starting backstage application
  become: true
  become_method: ansible.builtin.sudo
  become_flags: '-i'
  become_user: '{{ username }}'
  block:
    - name: Start backstage frontend
      shell:
        cmd: |
          source ../.nvmvars
          pm2 start "yarn start" --name backstage-frontend
      args:
        chdir: '{{ backstage_app_directory }}'
        executable: /bin/bash
    - name: Start backstage backend
      shell:
        cmd: |
          source ../.nvmvars
          pm2 start "yarn start-backend" --name backstage-backend
      args:
        chdir: '{{ backstage_app_directory }}'
        executable: /bin/bash
    - name: Saving application state
      shell:
        cmd: |
          source ../.nvmvars
          pm2 save
      args:
        chdir: '{{ backstage_app_directory }}'
        executable: /bin/bash
