---
# obtain ssl certs
- name: Open http port for ACME
  community.general.ufw:
    rule: allow
    port: '80'
    proto: tcp

- name: Get ssl certificates for backstage
  import_role:
    name: certbot_ssl

- name: Closing http port
  community.general.ufw:
    rule: allow
    port: '80'
    proto: tcp
    delete: true

- name: Update directory permissions (1/2)
  file:
    path: "{{ item }}"
    mode: '0755'
  loop:
    - '/etc/letsencrypt/live'
    - '/etc/letsencrypt/archive'

- name: Update directory permissions (2/2)
  file:
    path: "{{ item }}"
    mode: '0755'
    recurse: true
    owner: '{{ username }}'
    group: '{{ username }}'
  loop:
    - '/etc/letsencrypt/live/{{ _domain }}'
    - '/etc/letsencrypt/archive/{{ _domain }}'

- name: Create app certs directory
  file:
    path: '{{ backstage_app_directory }}/certs'
    state: directory
    owner: '{{ username }}'
    group: '{{ username }}'
    mode: '0755'

- name: Symlinking certficates to certs directory
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: '0644'
    state: link
  loop:
    - {src: '/etc/letsencrypt/live/{{ _domain }}/fullchain.pem', dest: '{{ backstage_app_directory }}/certs/fullchain.pem'}
    - {src: '/etc/letsencrypt/live/{{ _domain }}/privkey.pem', dest: '{{ backstage_app_directory }}/certs/privkey.pem'}
