*********************************************************
Akamai Connected Cloud OpenLiteSpeed Django Marketplace App
App URL: 
* The OpenLiteSpeed Web Admin: https://{{ _domain }}:7080
* The sample Django site: https://{{ _domain }}/
* The Django admin user: {{ django_superuser_username }}
* The sample Django admin page: https://{{ _domain }}/admin
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/openlitespeed-django/
*********************************************************
To delete this message of the day: rm /etc/motd
