#!/bin/bash
source /etc/os-release
echo "*********************************************************"
echo "Akamai Connected Cloud openlitespeed-cpanel Quick Deploy App"
echo "Running cPanel & WHM $(/usr/local/cpanel/cpanel -V) with LiteSpeed Enterprise (trial) on $PRETTY_NAME"
echo ""
echo "LiteSpeed WebAdmin console: https://$(hostname -f):7080"
echo "LiteSpeed WebAdmin credentials: /root/.credentials"
echo ""
echo "For our full cPanel & WHM documentation: https://go.cpanel.net/docs"
echo "For information on how to quickly set up a website in cPanel & WHM: https://go.cpanel.net/buildasite"
echo "Marketplace documentation: https://www.linode.com/marketplace/apps/linode/openlitespeed-cpanel/"
echo "*********************************************************"
echo ""
