*********************************************************
Akamai Connected Cloud Chroma Marketplace App
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/chromadb/
*********************************************************
To delete this message of the day: rm /etc/motd
