*********************************************************
Akamai - Mastodon Quick Deploy App
App URL: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/mastodon
More Information on Mastodon configurations at https://docs.joinmastodon.org/
*********************************************************
To delete this message of the day: rm /etc/motd