---
- name: Check current driver symlink
  stat:
    path: "/sys/bus/pci/devices/{{ pci_device }}/driver"
    follow: false
  register: driver_link

- name: Bind GPU to nvidia driver
  shell: echo "{{ pci_device }}" > /sys/bus/pci/drivers/nvidia/bind
  when: >
    not driver_link.stat.exists or
    driver_link.stat.lnk_source is not search('nvidia')
  changed_when: true
