---
- name: Create redis group
  group:
    name: redis
    state: present
    system: true

- name: Create redis user
  user:
    name: redis
    group: redis
    shell: /sbin/nologin
    expires: -1
    create_home: false
    system: true
    state: present

- name: Create redis directories
  file:
    path: '{{ item }}'
    state: directory
    owner: redis
    group: redis
    mode: '0755'
  loop:
    - '{{ redis_conf_directory }}'
    - '{{ redis_ssl_directory }}'
    - '{{ redis_ssl_ca_directory }}'
    - '{{ redis_ssl_reqs_directory }}'
    - '{{ redis_ssl_keys_directory }}'
    - '{{ redis_ssl_certs_directory }}'
