---
- name: Installing package dependencies
  apt:
    name:
      - build-essential
      - rustc
      - libssl-dev
      - libyaml-dev
      - zlib1g-dev
      - libgmp-dev
    state: present
    update_cache: true

- name: Creating {{ username }} bin path for mise
  file:
    path: "/home/{{ username }}/.local/bin"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0755

- name: Get latest mise release info from GitHub
  uri:
    method: GET
    url: https://api.github.com/repos/jdx/mise/releases/latest
    return_content: true
  register: version_output

- name: Set mise tarball URL
  set_fact:
    mise_tarball: "https://github.com/jdx/mise/releases/download/{{ (version_output.content | from_json).tag_name }}/mise-{{ (version_output.content | from_json).tag_name }}-linux-x64.tar.zst"

- name: Create tempdir
  tempfile:
    state: directory
  register: tempdir

- name: Download mise tarball
  get_url:
    url: "{{ mise_tarball }}"
    dest: "{{ tempdir.path }}"
  register: tarball

- name: Extract mise tarball
  unarchive:
    src: "{{ tarball.dest }}"
    dest: "{{ tempdir.path }}"
    extra_opts: [--strip-components=1]

- name: Move mise binary to {{ username }} path
  copy:
    src: "{{ tempdir.path }}/bin/mise"
    dest: "/home/{{ username }}/.local/bin/mise"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: 0755

- name: Load mise env on login
  lineinfile:
    path: "/home/{{ username }}/.bashrc"
    insertafter: EOF
    line: 'eval "$(~/.local/bin/mise activate)"'