---
- name: Get info about {{ username }}
  getent:
    database: passwd
    key: "{{ username }}"

- name: Set UID for {{ username }}
  set_fact:
    uid: "{{ getent_passwd[username][2] }}"

- name: Enable linger on "{{ username }}"
  command:
    cmd: "loginctl enable-linger {{ username }}"

- name: Add XDG_RUNTIME_DIR for systemd
  lineinfile:
    path: "/home/{{ username }}/.bashrc"
    insertafter: EOF
    line: "export XDG_RUNTIME_DIR=/run/user/{{ uid }}"

- name: Create systemd user directory
  file:
    path: "/home/{{ username }}/.config/systemd/user"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0755'
  register: systemd

- name: Adding puma service rails
  template:
    src: templates/puma.service.j2
    dest: "{{ systemd.path }}/{{ app_name }}.service"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0644'

- name: Backup puma.rb file
  copy:
    src: "{{ app_root_path }}/config/puma.rb"
    dest: "{{ app_root_path }}/config/puma.rb.bak"
    owner: "{{ username }}"
    group: "www-data"
    mode: '0644'

- name: Backup puma and add startup wrapper
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  loop:
    - { src: 'templates/start.sh.j2', dest: '/home/{{ username }}/.local/bin/start.sh',
        owner: '{{ username }}', group: '{{ username }}', mode: '0755' }
    - { src: 'templates/puma.rb.j2', dest: '{{ app_root_path }}/config/puma.rb',
        owner: '{{ username }}', group: 'www-data', mode: '0664' }

- name: Create sockets directory
  file:
    path: "{{ app_root_path }}/tmp/sockets"
    state: directory
    owner: "{{ username }}"
    group: www-data
    mode: '0775'

- name: Start puma service
  systemd_service:
    name: "{{ app_name }}"
    state: started
    enabled: true
    scope: user
  become: true
  become_user: "{{ username }}"
