*********************************************************
Akamai Connected Cloud Ant Media Server Enterprise Edition Marketplace App
App URL: https://{{ _IP_ADDRESS }}:5080
Documentation: https://www.linode.com/marketplace/apps/linode/antmedia/
*********************************************************
To delete this message of the day: rm /etc/motd