[Unit]
Description=Docker Compose Harbor Application Service
Requires=harbor.service
After=harbor.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker-compose -f harbor.yml up -d
ExecStop=/usr/bin/docker-compose -f harbor.yml down
ExecReload=/usr/bin/docker-compose -f harbor.yml up -d
WorkingDirectory=/root/harbor/

[Install]
WantedBy=multi-user.target