---
- name: Configure UFW rules for Apache Airflow
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: ["22", "80", "443"]

- name: Enable UFW
  ufw:
    state: enabled
    policy: deny
