---
# set_hostname
- name: Setting up hostname
  import_role:
    name: hostname

# sets account ssh pubkey to limited user
- name: Set ssh pubkey
  import_role:
    name: sshkey

# write _domain to vars.
- name: Write _domain to vars
  lineinfile:
    insertafter: EOF
    path: group_vars/linode/vars
    line: |
      _domain: {{ _domain }}
  when: _domain is defined

# dns creation
- name: Create dns A record
  import_role:
    name: create_dns_record
  when:
    - token_password is defined
    - default_dns is not defined

# adding MX & SPF
- name: Create MX record for domain
  linode.cloud.domain_record:
    api_token: "{{ token_password }}"
    domain: '{{ domain }}'
    name: '{{ _domain }}'
    type: 'MX'
    target: '{{ _domain }}'
    priority: 10
    state: present

- name: Create SPF records for domain
  linode.cloud.domain_record:
    api_token: "{{ token_password }}"
    domain: '{{ domain }}'
    name: '{{ _domain }}'
    type: 'TXT'
    target: 'v=spf1 a ~all'
    state: present

# disable root login w/wo pubkey
- name: Secure ssh
  import_role:
    name: securessh
  when: disable_root is defined

# apt_setup_update
- name: Update system packages
  import_role:
    name: update_pkgs

# ufw_install
- name: Enabling ufw
  import_role:
    name: ufw

# ufw rules
- name: Apply ufw rules
  import_tasks: ufw_rules.yml

# fail2ban
- name: Enabling fail2ban
  import_role:
    name: fail2ban_install
