{
    "debug": false,
    "bind_addr": "127.0.0.1",
    "port": 8080,
    "ssl": false,
    "log_path": "/var/log/pritunl.log",
    "temp_path": "/tmp/pritunl_%r",
    "local_address_interface": "auto",
    "mongodb_uri": "mongodb://localhost:27017/pritunl"

}