*********************************************************
Akamai Connected Cloud Pi-hole Marketplace App
App URL: https://{{ _domain }}/admin
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/pihole/
*********************************************************
To delete this message of the day: rm /etc/motd