*********************************************************
Akamai Connected Cloud - DeepSeek with Open WebUI
App URL: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/deepseek-with-openwebui/
*********************************************************
To delete this message of the day: rm /etc/motd