---
# set_hostname
- name: Set dns fact for subdomain
  set_fact:
    _domain: '{{ subdomain }}.{{ domain }}'
    cacheable: true
  when: [domain is defined, subdomain != "www"]

- name: Set dns fact for domain
  set_fact:
    _domain: '{{ domain }}'
    cacheable: true
  when: [domain is defined, subdomain == "www"]

- name: Setting up hostname
  hostname:
    name: mc-xavc-demo
  when: [domain is not defined, subdomain is not defined]

- name: Set hostname for dns
  hostname:
    name: '{{ _domain }}'
  when: [_domain is defined]

- name: Create dns A record
  import_role:
    name: create_dns_record
  when:
    - token_password is defined
    - domain is defined

# sets account ssh pubkey to limited user
- name: Set ssh pubkey
  import_role:
    name: sshkey

- name: Disable root login
  import_role:
    name: securessh
  when: disable_root is defined

# apt_setup_update
- name: Update system packages
  import_role:
    name: update_pkgs

# ufw_install
- name: Enabling ufw
  import_role:
    name: ufw

# ufw rules
- name: Apply ufw rules
  import_tasks: ufw_rules.yml

# fail2ban
- name: Enabling fail2ban
  import_role:
    name: fail2ban_install

# MainConcept
- name: Install Docker dependencies
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - gnupg2
      - pwgen
      - ufw
      - python3
      - python3-pip
      - python-is-python3
    state: present

- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable
    state: present

- name: Update apt cache
  apt:
    update_cache: true

- name: Install Docker engine
  apt:
    name: docker-ce
    state: present

- name: Start and enable Docker service
  service:
    name: docker
    state: started
    enabled: true

- name: Install Docker Python package
  pip:
    name: docker
    executable: pip3
    state: present
