---
# Main installation tasks for Jaeger

- name: Install Docker
  import_role:
    name: docker

- name: Import user setup tasks
  import_tasks: user.yml

- name: Import TLS certificate tasks
  import_tasks: tls.yml

- name: Import Docker tasks
  import_tasks: docker.yml

- name: Import nginx tasks
  import_tasks: nginx.yml
