*********************************************************
Akamai Connected Cloud Memgraph Marketplace App
Bolt Address: {{ _domain }}:7687
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/memgraph/
*********************************************************
To delete this message of the day: rm /etc/motd