*********************************************************
Akamai - Memgraph Quick Deploy App
Bolt Address: {{ _domain }}:7687
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/memgraph
*********************************************************
To delete this message of the day: rm /etc/motd