*********************************************************
Akamai Connected Cloud Nextcloud Marketplace App
App URL: https://{{ _domain }}:8443
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/nextcloud/
*********************************************************
To delete this message of the day: rm /etc/motd