*********************************************************
Akamai - Nextcloud Quick Deploy App
App URL: https://{{ _domain }}:8443
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/nextcloud
*********************************************************
To delete this message of the day: rm /etc/motd