---
# Install Addons if requested
- name: Add addons
  import_role:
    name: addons
  when: add_ons != ['none']

- name: Remove archive file
  file:
    path: "/tmp/FFmpeg_Plugins_Demo_Unencrypted.zip"
    state: absent

- name: Create symlink for ffmpeg
  file:
    src: "/opt/mainconcept/ffmpeg-omx/bin/ffmpeg"
    dest: "/bin/ffmpeg"
    state: link

- name: Copy MOTD template to /etc/motd
  template:
    src: templates/motd.j2
    dest: /etc/motd

- name: Writing creds into file
  copy:
    dest: '/home/{{ username }}/.credentials'
    owner: '{{ username }}'
    group: '{{ username }}'
    mode: '0600'
    content: |
      Sudo Username: {{ username }}
      Sudo Password: {{ password }}
