*********************************************************
Akamai - OpenClaw Quick Deploy App
Dashboard URL: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/openclaw
*********************************************************

To delete this message of the day: rm /etc/motd