[server]
endpoint = tcp://127.0.0.1:8529
authentication = true

[database]
directory = /var/lib/arangodb3

[log]
file = /var/log/arangodb3/arangod.log
level = info

[arangodb]
directory = /opt/arangodb3

[javascript]
startup-directory = /opt/arangodb3/usr/share/arangodb3/js
app-path = /opt/arangodb3/usr/share/arangodb3/js/apps 