Sudo Credentials:
Username: {{ username }}
Password: {{ password }}

{% if vnc_enabled | bool %}
VNC Credentials:
Username: {{ vnc_username }}
Password: {{ vnc_password }}
{% endif %}

Kali Linux Package Installed: {{ kali_package }}