*********************************************************
Akamai - Apache Airflow Quick Deploy App
Url: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/apache-airflow
*********************************************************
To delete this message of the day: rm /etc/motd