*********************************************************
Akamai Connected Cloud Apache Airflow Marketplace App
Url: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/apache-airflow/
*********************************************************
To delete this message of the day: rm /etc/motd