[Service]
ExecStart=
ExecStart=/usr/bin/java -jar /opt/haltdos/controller/controller.war --server.address={{ haltdos_bind_addr }} --server.port={{ haltdos_internal_port }} --server.forward-headers-strategy=NATIVE
