---
# antmedia
- name: Set facts for Community edition & SSL
  set_fact:
    antmedia_install_script_url: 'https://raw.githubusercontent.com/ant-media/Scripts/master/install_ant-media-server.sh'
    antmedia_zip_remote_url: 'https://antmedia.io/download/latest.zip'
    antmedia_zip_local_path: '/tmp/ams.zip'
- name: Download install_ant-media-server.sh script
  get_url:
    url: "{{ antmedia_install_script_url }}"
    dest: '/tmp/install_ant-media-server.sh'
    mode: '0755'
- name: Download ams.zip file from a remote location
  get_url:
    url: "{{ antmedia_zip_remote_url }}"
    dest: "{{ antmedia_zip_local_path }}"
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'
- name: Run Ant Media Server installation script
  script: "/tmp/install_ant-media-server.sh -i {{ antmedia_zip_local_path }}"

# Bypass user setup
- name: Wait for service to be available
  wait_for:
    host: localhost
    port: 5080
  timeout: 60
- name: Send POST request
  uri:
    url: http://localhost:5080/rest/v2/users/initial
    method: POST
    body_format: json
    body:
      email: "{{ soa_email_address }}"
      password: "{{ antmedia_password }}"
      scope: 'system'
      userType: 'ADMIN'
    headers:
      Content-Type: 'application/json'
  register: antmedia_result
  until: antmedia_result.status != 403
  retries: 5
  delay: 10

# ssl_certbot
- name: Setting up ssl certificate
  import_role:
    name: certbot_ssl
- name: Set facts for letsencrypt certs
  set_fact:
    antmedia_full: "/etc/letsencrypt/live/{{ _domain }}/fullchain.pem"
    antmedia_priv: "/etc/letsencrypt/live/{{ _domain }}/privkey.pem"
    antmedia_chain: "/etc/letsencrypt/live/{{ _domain }}/chain.pem"

# AMS ssl install script
- name: Ant media ssl script install
  script: "/usr/local/antmedia/enable_ssl.sh -f {{ antmedia_full }} -p {{ antmedia_priv }} -c {{ antmedia_chain }} -d {{ _domain }}"
