# upstream to abstract backend connection(s) for php 
upstream php { 
    server unix:/run/php/php{{ php_version.stdout }}-fpm.sock;
}
server {
    listen 80;
    listen [::]:80;
        {% if default_dns is defined %}
server_name {{ _domain }};
    {% elif subdomain != "www" %}
server_name {{ subdomain }}.{{ domain }};
    {% elif subdomain == "www" %}
server_name {{ domain }} www.{{ domain }}; 
    {% endif %}
    include snippets/well-known;
    return 301 https://$host$request_uri;
}
server {
    listen 443 ssl http2 default_server;
    listen [::]:443 ssl http2 default_server;
    {% if default_dns is defined %}
server_name {{ _domain }};
    {% elif subdomain != "www" %}
server_name {{ subdomain }}.{{ domain }};
    {% elif subdomain == "www" %}
server_name {{ domain }} www.{{ domain }}; 
    {% endif %}
    include snippets/ssl.conf;
    include snippets/ssl-params.conf;
    root           /var/www/{{ _domain }}/public_html;
    index          index.html index.php;
    location / {
      try_files $uri $uri/ /index.php?$args =404;
    }
    location ~* \.php$ {
   #  include         snippet/fastcgi.php.conf;
      fastcgi_pass php;
      include         fastcgi_params;
      fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
      include fastcgi_params;
      fastcgi_intercept_errors on;
    }
    # wordpress location rules
    include snippets/wordpress.conf;
    # max php upload size
    client_max_body_size 100M;
  
    # disable direcory indexing
    autoindex off;

    # location restrictions
    include snippets/restrictions.conf;
}