---
# make backup of default
- name: Creating openbao config backup
  copy:
    src: "{{ openbao_config }}"
    dest: "{{ openbao_config }}.bak"
    owner: openbao
    group: openbao
    mode: '0644'

# update openbao config
- name: Update openbao config
  template:
    src: "templates/openbao.hcl.j2"
    dest: "{{ openbao_config }}"
    owner: openbao
    group: openbao
    mode: '0644'

# update systemd file openbao
- name: Update openbao config
  template:
    src: "templates/openbao.service"
    dest: "/lib/systemd/system/openbao.service"
    owner: openbao
    group: openbao
    mode: '0644'

- name: Enable openbao service
  systemd:
    name: openbao
    enabled: true
    daemon_reload: true
    state: started

- name: Bao operator init command and capture output
  shell: "bao operator init -address=https://{{ listen_address }}:8200 -key-shares=3 -key-threshold=2"
  args:
    executable: /bin/bash
  register: bao_output
