*********************************************************
Akamai Connected Cloud MainConcept Live Encoder Demo Marketplace App
App URL: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.mainconcept.com/live-encoder
*********************************************************
To delete this message of the day: rm /etc/motd