*********************************************************
Akamai Connected Cloud Cribl Marketplace App
App URL: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/cribl/
*********************************************************
To delete this message of the day: rm /etc/motd
