<VirtualHost *:80>
    ServerAdmin webmaster@{{ _domain }}
    ServerName {{ _domain }}
    UseCanonicalName On
    DocumentRoot {{ joomla_install_dir }}

    <Directory {{ joomla_install_dir }}>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog  /var/log/apache2/joomla_error.log
    CustomLog /var/log/apache2/joomla_access.log combined

    RewriteEngine On
    RewriteCond %{HTTP_HOST} !={{ _domain }}
    RewriteRule ^ https://{{ _domain }}%{REQUEST_URI} [R=permanent,L]
</VirtualHost>
