---
# Install Addons if requested
- name: Add addons
  import_role:
    name: addons
  when: add_ons != ['none']

# motd and creds gen
- name: Copy MOTD template to /etc/motd
  template:
    src: templates/motd.j2
    dest: /etc/motd

- name: Writing sudo creds into file
  copy:
    dest: '/home/{{ username }}/.credentials'
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'
    content: |
      Sudo Username: {{ username }}
      Sudo Password: {{ password }}
      Zabbix DB Username: zabbix
      Zabbix DB Password: {{ zabbix_db_pass }}
      Zabbix Admin GUI Username: Admin
      Zabbix Admin GUI Password: {{ zabbix_gui_pass }}
      MySQL Root Password: {{ mysql_root_password }}
