*********************************************************
Akamai Connected Cloud MySQL Marketplace App
MySQL Root Password: {{ mysql_root_password }}
Documentation: https://www.linode.com/marketplace/apps/linode/mysql/
*********************************************************
To delete this message of the day: rm /etc/motd