*********************************************************
Akamai Connected Cloud Prometheus & Grafana Marketplace App
Grafana URL: https://{{ _domain }}
Prometheus URL: https://{{ _domain }}/prometheus
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/products/tools/marketplace/guides/prometheus-grafana/
*********************************************************
To delete this message of the day: rm /etc/motd
