---
- name: Install required packages
  apt:
    pkg: [nginx, curl, git]
    state: latest
    update_cache: true

# code-server
- name: Download code-server .deb package
  get_url:
    url: "{{ code_server_download_link }}"
    dest: "/tmp/code-server_{{ code_server_version }}_amd64.deb"
    mode: '0644'
  register: code_server_deb

- name: Install code-server .deb package
  apt:
    deb: "{{ code_server_deb.dest }}"
    state: present

- name: Enable and start code-server service
  systemd:
    name: "code-server@{{ username }}"
    enabled: true
    state: started

- name: Wait for config.yaml to exist
  wait_for:
    path: /home/{{ username }}/.config/code-server/config.yaml
    timeout: 120

- name: Code-server config file
  template:
    src: templates/config.yaml.j2
    dest: "/home/{{ username }}/.config/code-server/config.yaml"
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0644'

- name: Config file setup
  template:
    src: templates/nginx.conf.j2
    dest: "/etc/nginx/sites-available/{{ _domain }}"
    mode: '0644'

- name: Secure code-server with htaccess
  htpasswd:
    path: '/etc/nginx/.code_server_htpasswd'
    mode: '0644'
    name: codeserver
    password: '{{ code_server_htpasswd }}'
    state: present
    create: true

- name: Create a symbolic link for the nginx configuration
  file:
    src: "/etc/nginx/sites-available/{{ _domain }}"
    dest: "/etc/nginx/sites-enabled/{{ _domain }}"
    state: link

- name: Unlink the default nginx configuration
  file:
    path: "/etc/nginx/sites-enabled/default"
    state: absent
  notify: Reload nginx service

# ssl_certbot
- name: Setting up ssl certificate
  import_role:
    name: certbot_ssl

# restart code-server service
- name: Restart code-server service
  systemd:
    name: "code-server@{{ username }}"
    enabled: true
    state: restarted
