[Unit]
Description=Airflow API Server
After=network.target

[Service]
User=airflow
Group=airflow
Environment="AIRFLOW_HOME=/opt/airflow/airflow"
Environment="PATH=/opt/airflow/airflow_venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

# Ensure DB is migrated before starting
ExecStartPre=/opt/airflow/airflow_venv/bin/airflow db migrate
ExecStart=/opt/airflow/airflow_venv/bin/airflow api-server --host 127.0.0.1 --port 8080

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target