docRoot                   $VH_ROOT/html/

errorlog $VH_ROOT/logs/error.log {
  useServer               0
  logLevel                ERROR
  rollingSize             10M
}

accesslog $VH_ROOT/logs/access.log {
  useServer               0
  rollingSize             10M
  keepDays                7
  compressArchive         0
}

context /.well-known/ {
  location                {{ ols_docroot }}/.well-known/
}

context / {
  type                    appserver
  location                {{ ols_node_dir }}/
}
{% if ols_tls_enabled | bool %}

rewrite  {
  enable                  1
  rules                   <<<END_rules
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
  END_rules
}
{% endif %}
