<VirtualHost *:*>
   {% if subdomain != "www" %}
   ServerName {{ _domain }}
   Redirect permanent / https://{{ _domain }}
   {% elif subdomain == "www" %}
   ServerName {{ _domain }}
   ServerAlias www.{{ _domain }}
   Redirect permanent / https://{{ _domain }} 
   {% elif default_dns is defined %}
   ServerName {{ _domain }}
   Redirect permanent / https://{{ _domain }}
   {% endif %}
   Header set Strict-Transport-Security "max-age=31536000"
   Header set Content-Security-Policy: "default-src 'self' *.openstreetmap.org; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self'; img-src 'self' data: *.openstreetmap.org; style-src 'self' 'unsafe-inline'; base-uri 'self'; form-action 'self';"

</VirtualHost>

<VirtualHost *:443>
   {% if subdomain != "www" %}
   ServerName {{ _domain }}
   {% elif subdomain == "www" %}
   ServerName {{ _domain }}
   ServerAlias www.{{ _domain }} 
   {% elif default_dns is defined %}
   ServerName {{ _domain }}
   {% endif %}
   DocumentRoot /usr/share/zabbix
   ErrorLog /var/log/apache2/error.log
   CustomLog /var/log/apache2/access.log combined
   
   SSLEngine On
   SSLCertificateFile /etc/letsencrypt/live/{{ _domain }}/fullchain.pem
   SSLCertificateKeyFile /etc/letsencrypt/live/{{ _domain }}/privkey.pem
   SSLCertificateChainFile /etc/letsencrypt/live/{{ _domain }}/chain.pem
   
   ServerSignature Off
   ServerTokens Prod
   <files xmlrpc.php>
   order allow,deny
   deny from all
   </files>
</VirtualHost>