*********************************************************
Akamai Connected Cloud passbolt Marketplace App

Registering admin user: {{ passbolt_admin_registration_url }}

App URL: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/passbolt/
*********************************************************
To delete this message of the day: rm /etc/motd
