services:
  db:
    image: postgres:14-alpine
    restart: always
    shm_size: 256mb
    environment:
      POSTGRES_DB: mastodon_production
      POSTGRES_USER: mastodon
      POSTGRES_PASSWORD: '{{ psql_password }}'
    volumes:
      - ./postgres14:/var/lib/postgresql/data
    networks:
      - internal_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mastodon"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    restart: always
    volumes:
      - ./redis:/data
    networks:
      - internal_network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    image: ghcr.io/mastodon/mastodon:v4.5.7
    restart: always
    env_file: .env.production
    command: bundle exec puma -C config/puma.rb
    working_dir: /opt/mastodon
    depends_on:
      - db
      - redis
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - ./public/system:/opt/mastodon/public/system
    networks:
      - external_network
      - internal_network
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:3000/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5


  streaming:
    image: ghcr.io/mastodon/mastodon-streaming:v4.5.7
    restart: always
    env_file: .env.production
    command: node ./index.js
    working_dir: /opt/mastodon/streaming
    depends_on:
      - db
      - redis
    ports:
      - "127.0.0.1:4000:4000"
    networks:
      - external_network
      - internal_network
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:4000/api/v1/streaming/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 5

  sidekiq:
    image: ghcr.io/mastodon/mastodon:v4.5.7
    restart: always
    env_file: .env.production
    command: bundle exec sidekiq
    working_dir: /opt/mastodon
    depends_on:
      - db
      - redis
    volumes:
      - ./public/system:/opt/mastodon/public/system
    networks:
      - external_network
      - internal_network

  watchtower:
    image: containrrr/watchtower
    restart: always
    command: --cleanup --interval 300
    environment:
      - DOCKER_API_VERSION=1.41
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  external_network:
  internal_network:
    internal: true
