---
- name: Setting up hostname
  import_role:
    name: hostname

- name: Create dns A record
  import_role:
    name: create_dns_record
  when: 
    - token_password is defined
    - default_dns is not defined

- name: Create MX record for domain
  linode.cloud.domain_record:
    api_token: "{{ token_password }}"
    domain: "{{ domain }}"
    name: "{{ _domain }}"
    type: "MX"
    target: "{{ _domain }}"
    priority: 10
    state: present

- name: Create SPF records for domain
  linode.cloud.domain_record:
    api_token: "{{ token_password }}"
    domain: "{{ domain }}"
    name: "{{ _domain }}"
    type: "TXT"
    target: "v=spf1 a ~all"
    state: present

- name: Create RDNS records for domain
  linode.cloud.ip_rdns:
    api_token: "{{ token_password }}"
    state: present
    address: "{{ ansible_default_ipv4.address }}"
    rdns: "{{ _domain }}"

- name: Set ssh pubkey
  import_role:
      name: sshkey

- name: Secure SSH
  import_role:
      name: securessh
  when: disable_root is defined

- name: Update system packages
  import_role:
    name: update_pkgs

- name: Enabling ufw
  import_role:
    name: ufw

- name: Apply ufw rules
  import_tasks: ufw_rules.yml

- name: Enabling fail2ban
  import_role:
    name: fail2ban_install
