---
# install and configure nginx

- name: Install nginx
  apt:
    pkg: [nginx-full]
    state: latest

- name: Add nginx config
  template:
    src: 'templates/vhost.conf.j2'
    dest: '/etc/nginx/sites-available/{{ _domain }}'
    mode: '0644'

- name: Enable rabbitmq vhost
  file:
    src: '/etc/nginx/sites-available/{{ _domain }}'
    dest: '/etc/nginx/sites-enabled/{{ _domain }}'
    state: link

- name: Remove default vhost
  file:
    path: '/etc/nginx/sites-enabled/default'
    state: absent
  notify: Restart nginx
