---
- name: Add user.json file to change default admin password
  template:
    src: templates/users.json.j2
    dest: /opt/cribl/local/cribl/auth/users.json
    mode: '0755'
    owner: cribl
    group: cribl

- name: Update cribl config to listen on localhost
  replace:
    path: "{{ cribl_dir }}/default/cribl/cribl.yml"
    regexp: '^(\s*host:\s*)0\.0\.0\.0\s*$'
    replace: '\1 127.0.0.1'
  notify: Restart cribl

- name: Update ownership to cribl user for "{{ cribl_dir }}"
  file:
    path: "{{ cribl_dir }}"
    mode: '0755'
    owner: cribl
    group: cribl
    recurse: true
