*******************************************************************************
 Akamai Cloud Appwrite Quick Deploy App
 App URL:           http://{{ _domain }}
 Credentials File:  /home/{{ sudo_username }}/.credentials
 Documentation:     https://www.linode.com/marketplace/apps/linode/appwrite/
*******************************************************************************
 To delete this message of the day: rm /etc/motd

