*********************************************************
Akamai Connected Cloud Cyberpanel Marketplace App

In a web browser, you can view:
* CyberPanel: https://{{ _domain }}:8090
* phpMyAdmin: https://{{ _domain }}:8090/phpmyadmin
* RainLoop:   https://{{ _domain }}:8090/rainloop

On the server:
* You can get the CyberPanel admin password with the following command:
sudo cat /root/.litespeed_password
* You can get the Mysql cyberpanel user password with the following command:
sudo cat /root/.db_password

Documentation: https://www.linode.com/marketplace/apps/linode/cyberpanel/
*********************************************************
To delete this message of the day: rm /etc/motd