---
# harbor

- name: Create harbor data directory
  file:
    path: /data/harbor
    state: directory
    mode: '0755'

- name: Download and extract offline harbor installion files
  unarchive:
    src: https://github.com/goharbor/harbor/releases/download/v2.9.0/harbor-offline-installer-v2.9.0.tgz
    dest: /root/
    remote_src: true
    mode: '0755'

- name: Copy harbor.yaml template
  template:
    src: templates/harbor.yaml.j2
    dest: /root/harbor/harbor.yml
    mode: '0644'

- name: Execute install script
  shell: bash /root/harbor/install.sh

# nginx
- name: Install nginx
  apt:
    pkg: [nginx]
    state: present

- name: Config file setup
  template:
    src: templates/nginx.conf.j2
    dest: "/etc/nginx/sites-available/{{ _domain }}"
    mode: '0644'

- name: Create a symbolic link for the nginx configuration
  file:
    src: "/etc/nginx/sites-available/{{ _domain }}"
    dest: "/etc/nginx/sites-enabled/{{ _domain }}"
    state: link

- name: Unlink the default nginx configuration
  file:
    path: "/etc/nginx/sites-enabled/default"
    state: absent
  notify: Reload nginx service

# ssl_certbot
- name: Setting up ssl certificate
  import_role:
    name: certbot_ssl

- name: Copy harbor.service template
  template:
    src: templates/harbor.service.j2
    dest: /etc/systemd/system/harbor.service
    mode: '0644'

- name: Reload systemd daemon
  systemd:
    daemon_reload: true

- name: Start harbor service
  systemd:
    name: harbor.service
    state: started
    enabled: true
