---

- name: Set Open WebUI initial password
  uri:
    url: "http://localhost:3000/api/v1/auths/signup"
    method: POST
    body_format: json
    status_code: [200]
    return_content: true
    body:
      name: "{{ openwebui_login_name }}"
      email: "{{ openwebui_login_email }}"
      password: "{{ openwebui_login_password }}"
    headers:
      Content-Type: 'application/json'