---
# configure prometheus

- name: Adding prometheus configuration
  copy:
    src: 'files/prometheus.yml'
    dest: '/etc/prometheus/prometheus.yml'
    mode: '0644'
    group: prometheus
    owner: prometheus

- name: Add local target file
  copy:
    src: 'files/local_prometheus_scrape.yml'
    dest: '/etc/prometheus/file_sd_targets/local_prometheus.yml'
    mode: '0755'
    owner: prometheus
    group: prometheus

- name: Add prometheus service file
  template:
    src: 'templates/prometheus.service.j2'
    dest: '/etc/systemd/system/prometheus.service'
    mode: '0644'
  notify: [Reload daemon, Start prometheus]
