*********************************************************
Akamai Connected Cloud NetFoundry Edge Router Marketplace App
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/netfoundry-edge-router/
*********************************************************
To delete this message of the day: rm /etc/motd