ansible==13.6.0
PyMySQL==1.1.2
yamllint==1.38.0
ansible-lint==26.4.0
flake8==7.3.0
linode_api4==5.43.0
dnspython==2.8.0
polling==0.3.2
ansible-specdoc==0.0.20
pyyaml==6.0.3
dnspython==2.8.0
### testing reqs ###
#molecule==5.1.0
#molecule-vagrant==2.0.0
#python-vagrant==0.5.15
passlib==1.7.4
