---
# Postfix
- name: Install postfix MTA and mailutils
  apt:
    pkg: [postfix, mailutils]
    state: present

- name: Update postfix inet_interfaces
  lineinfile:
    path: /etc/postfix/main.cf
    regexp: '^inet_interfaces ='
    line: 'inet_interfaces = 127.0.0.1'

- name: Update postfix mynetwork
  lineinfile:
    path: /etc/postfix/main.cf
    regexp: '^mynetworks ='
    line: 'mynetworks = 127.0.0.0/8'

- name: Set smtpd_recipient_restrictions in /etc/postfix/main.cf
  lineinfile:
    path: /etc/postfix/main.cf
    line: "smtpd_recipient_restrictions = permit_mynetworks, reject_unauth_destination"
    create: false
    state: present
  notify: Restart postfix
