*********************************************************
Akamai MCP Gateway Client
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/akamai-mcp-gateway
*********************************************************
To delete this message of the day: rm /etc/motd
