---
- name: Install shadowsocks
  apt:
    pkg: [shadowsocks-libev]
    state: present

- name: Create shadowsocks config
  template:
    src: config.json.j2
    dest: /etc/shadowsocks-libev/config.json
    owner: root
    group: root
    mode: '0644'

- name: Restart and enable shadowsocks
  systemd_service:
    name: shadowsocks-libev
    state: restarted
    enabled: true
