***********************************************************************
Akamai Connected Cloud Cloudron Marketplace App
Documentation: https://docs.cloudron.io/
***********************************************************************
To delete this message of the day: rm /etc/motd