---
# install ssl
- name: Setting up ssl certificate
  import_role:
    name: certbot_ssl

- name: Copy ssl certificate
  copy:
    src: "/etc/letsencrypt/live/{{ _domain }}/fullchain.pem"
    dest: "/www/server/panel/ssl/certificate.pem"
    mode: '0644'

- name: Copy ssl private key
  copy:
    src: "/etc/letsencrypt/live/{{ _domain }}/privkey.pem"
    dest: "/www/server/panel/ssl/privateKey.pem"
    mode: '0600'

- name: Adding ssl renew script
  template:
    src: 'ssl_cron_renew.bash.j2'
    dest: '/root/certbot-aapanel-renewal.sh'
    mode: '0775'

- name: Backup existing crontab
  shell: crontab -l > /tmp/cron_backup || true
  args:
    creates: /tmp/cron_backup

- name: Add new cron job
  cron:
    name: 'certbot aapanel renewal'
    minute: '*'
    hour: '1'
    weekday: '1'
    job: 'bash /root/certbot-aapanel-renewal.sh'

- name: Remove temporary file
  file:
    path: '/tmp/cron_backup'
    state: absent

- name: Replace ip with domain
  set_fact:
    aapanel_final_url: "{{ aapanel_internal_url | regex_replace('https://[\\d\\.]+', 'https://' ~ _domain) }}"
