---
- name: Import install tasks
  import_tasks: install.yml

- name: Import nginx tasks
  import_tasks: nginx.yml

- name: Import user tasks
  import_tasks: user.yml

- name: Import credentials tasks
  import_tasks: credentials.yml
