*********************************************************
Akamai Connected Cloud MC2GO XAVC Marketplace App
Documentation: https://www.mainconcept.com/mc2go
*********************************************************
To delete this message of the day: rm /etc/motd