*********************************************************
Akamai Connected Cloud MC2GO XAVC Marketplace App
Documentation: https://www.linode.com/marketplace/apps/linode/mc2goxavc/
*********************************************************
To delete this message of the day: rm /etc/motd