*********************************************************
Akamai - HaltDOS Community WAF Quick Deploy App
Management UI: https://{{ _domain }}:{{ haltdos_ext_port }}/setup
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/haltdos-community-waf
*********************************************************
To delete this message of the day: rm /etc/motd