*********************************************************
Akamai Connected Cloud HaltDOS Community WAF Marketplace App
Management UI: https://{{ _domain }}:{{ haltdos_ext_port }}/setup
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/haltdos-community-waf/
*********************************************************
To delete this message of the day: rm /etc/motd
