Welcome to your Drupal installation!

Your Drupal site has been installed in: /var/www/drupal/web

To view your site:
1. Visit https://{{ _domain }}
3. Sudo user and database credentials are in /home/{{ username }}/.credentials

Documentation: 
- https://www.drupal.org/docs
- https://www.linode.com/docs/marketplace-docs/guides/drupal/