Welcome to your Drupal installation!

Your Drupal site has been installed in: /var/www/drupal/web

To complete the installation:
1. Visit https://{{ _domain }}
2. Follow the Drupal installation wizard
3. Use the database credentials from /home/{{ username }}/.credentials

Documentation: 
- https://www.drupal.org/docs
- https://www.linode.com/marketplace/apps/linode/drupal/