Welcome to your Drupal installation on Linode!

Your Drupal site has been installed in: /var/www/drupal/web
MariaDB database name: drupaldb
MariaDB username: drupal
MariaDB password: {{ mysql_drupal_password }}
MariaDB root password: {{ mysql_root_password }}
To complete the installation:
1. Visit http://{{ ansible_fqdn }} in your browser
2. Follow the Drupal installation wizard
3. Use the database credentials from /root/.drupal_credentials

For security:
- Change the MariaDB root password
- Remove /root/.drupal_credentials after installation
- Keep your Drupal installation updated

Documentation: https://www.drupal.org/docs
Support: https://www.linode.com/docs/guides/ 