---
# Install Addons if requested
- name: Add addons
  import_role:
    name: addons
  when: add_ons != ['none']

- name: Set up MOTD
  template:
    src: templates/motd.j2
    dest: /etc/motd

- name: Writing creds into file
  copy:
    dest: '/home/{{ username }}/.credentials'
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'
    content: |
      Sudo Username: {{ username }}
      Sudo Password: {{ password }}
      Memgraph User: {{ memgraph_username }}
      Memgraph Password: {{ memgraph_password }}
