---
# nginx
- name: Installing nginx
  apt:
    pkg:
      - nginx
      - nginx-common
    state: present

- name: Enabling nginx on boot
  service:
    name: nginx
    enabled: true

# php
- name: Install PHP
  apt:
    pkg:
      - php-common
      - php-fpm
      - php-mysql
    state: present

- name: Getting php version
  shell:
    cmd: "php -r \"echo PHP_MAJOR_VERSION.'.'.PHP_MINOR_VERSION;\""
  register: php_version

- name: Starting php-fpm
  service:
    name: "php{{ php_version.stdout }}-fpm"
    state: started
    enabled: true

- name: Disable nginx default site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Nginx configs
  import_tasks: nginx_configs.yml

# mysql
- name: Installing mariadb
  apt:
    pkg:
      - mariadb-server
      - python3-mysqldb
    state: present
  register: mariadb

- name: Running mysql secure installation
  import_role:
    name: securemysql

- name: Configuring domain with certbot
  import_role:
    name: certbot_ssl

# based on wordpress we may need a pause here.
- name: Moving vhost_ssl template
  template:
    src: ../templates/vhost_ssl.conf.j2
    dest: "/etc/nginx/sites-available/{{ _domain }}.conf"
    owner: root
    group: root
    mode: '0644'
