---
- name: Creating snippets directory
  file:
    path: /etc/nginx/snippets
    owner: root
    group: root
    mode: '0755'
    state: directory

- name: Moving snippet confs
  template:
    src: templates/{{ item.src }}
    dest: "/etc/nginx/snippets/{{ item.dest }}"
    owner: root
    group: root
    mode: '0644'
  loop:
    - { src: 'restrictions.conf.j2', dest: 'restrictions.conf' }
    - { src: 'ssl-params.conf.j2', dest: 'ssl-params.conf' }
    - { src: 'ssl.conf.j2', dest: 'ssl.conf' }
    - { src: 'well-known.j2', dest: 'well-known' }

- name: Creating document for vhost
  file:
    path: /var/www/{{ _domain }}/public_html
    owner: www-data
    group: www-data
    mode: '0755'
    state: directory
  register: document_root

- name: Create nginx log directory file
  file:
    path: /var/log/nginx/{{ _domain }}
    state: directory
    owner: www-data
    group: www-data
    mode: '0644'

- name: Create nginx access log file
  file:
    path: /var/log/nginx/{{ _domain }}/access.log
    state: touch
    owner: www-data
    group: www-data
    mode: '0644'

- name: Create nginx error log file
  file:
    path: /var/log/nginx/{{ _domain }}/error.log
    state: touch
    owner: www-data
    group: www-data
    mode: '0644'

- name: Moving index.html template
  copy:
    src: files/index.html
    dest: "{{ document_root.path }}/index.html"
    owner: www-data
    group: www-data
    mode: '0644'

- name: Moving vhost_default template
  template:
    src: templates/vhost.conf.j2
    dest: "/etc/nginx/sites-available/{{ _domain }}.conf"
    owner: root
    group: root
    mode: '0644'

- name: Symlinking our vhost
  file:
    src: "/etc/nginx/sites-available/{{ _domain }}.conf"
    dest: "/etc/nginx/sites-enabled/{{ _domain }}.conf"
    owner: root
    group: root
    mode: '0644'
    state: link
  notify: Reload nginx
