***********************************************************************
Akamai Connected Cloud MainConcept P2 AVC Transcoder Marketplace App
Documentation: https://www.mainconcept.com/transcoders
***********************************************************************
To delete this message of the day: rm /etc/motd