*********************************************************
Akamai Connected Cloud Jenkins Marketplace App
App URL: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/jenkins/
*********************************************************
To delete this message of the day: rm /etc/motd