---

- name: Install add-ons
  include_tasks: "{{ addon.file }}"
  loop:
    - { name: "newrelic", file: "newrelic.yml" }
    - { name: "node_exporter", file: "node-exporter.yml" }
    - { name: "mysqld_exporter", file: "mysqld-exporter.yml" }
  loop_control:
    label: "{{ addon.name }}"
  when:
    - add_ons is defined
    - add_ons != ['none']
    - addon.name in add_ons