---

- name: Install add-ons
  include_tasks: "{{ item.file }}"
  loop:
    - { name: "newrelic", file: "newrelic.yml" }
    - { name: "node_exporter", file: "node-exporter.yml" }
    - { name: "mysqld_exporter", file: "mysqld-exporter.yml" }
    - { name: "opentelemetry_collector", file: "opentelemetry-collector.yml" }
    - { name: "alloy", file: "alloy.yml" }
  loop_control:
    label: "{{ item.name }}"
  when:
    - add_ons is defined
    - add_ons != ['none']
    - item.name in add_ons