---
- name: run database helper
  import_role:
    name: database
  vars:
    database: postgresql

- name: Create application admin role
  community.postgresql.postgresql_user:
    name: "{{ postgresql_admin_user }}"
    password: "{{ postgresql_admin_password }}"
    encrypted: true
    role_attr_flags: "LOGIN,CREATEDB"
    state: present
  become: true
  become_user: postgres

- name: Create application database owned by admin
  community.postgresql.postgresql_db:
    name: "{{ postgresql_app_db }}"
    owner: "{{ postgresql_admin_user }}"
    encoding: UTF8
    lc_collate: en_US.UTF-8
    lc_ctype: en_US.UTF-8
    state: present
  become: true
  become_user: postgres

- name: Grant all privileges on database to admin
  community.postgresql.postgresql_privs:
    type: database
    database: "{{ postgresql_app_db }}"
    roles: "{{ postgresql_admin_user }}"
    privs: ALL
    state: present
  become: true
  become_user: postgres
