---
# influxdb

- name: Config file setup
  template:
    src: templates/influxdb.service
    dest: "/etc/systemd/system/influxdb.service"
    mode: '0644'

- name: Create docker compose directory
  file:
    path: /etc/docker/compose/influxdb
    state: directory
    mode: '0755'

- name: Docker file setup
  template:
    src: templates/docker-compose.yaml
    dest: "/etc/docker/compose/influxdb/docker-compose.yml"
    mode: '0644'

- name: Reload systemd daemon
  systemd:
    daemon_reload: true

- name: Enable influxdb service
  systemd:
    name: influxdb
    enabled: true

- name: Start influxdb service
  systemd:
    name: influxdb
    state: started

# nginx
- name: Install nginx
  apt:
    pkg: nginx
    state: present

- name: Config file setup
  template:
    src: templates/nginx.conf.j2
    dest: "/etc/nginx/sites-available/{{ _domain }}"
    mode: '0644'

- name: Create a symbolic link for the nginx configuration
  file:
    src: "/etc/nginx/sites-available/{{ _domain }}"
    dest: "/etc/nginx/sites-enabled/{{ _domain }}"
    state: link

- name: Unlink the default nginx configuration
  file:
    path: "/etc/nginx/sites-enabled/default"
    state: absent
  notify: Reload nginx service

# ssl_certbot
- name: Setting up ssl certificate
  import_role:
    name: certbot_ssl
