*********************************************************
Akamai Connected Cloud MainConcept Live Enconder Marketplace App
App URL: https://{{ _domain }}
Credentials File: /root/.credentials
Documentation: https://www.mainconcept.com/live-encoder
*********************************************************
To delete this message of the day: rm /etc/motd