*********************************************************
Akamai Connected Cloud MERN Marketplace App
App URL: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/mern/
*********************************************************
To delete this message of the day: rm /etc/motd

