*********************************************************
Akamai Connected Cloud NATS single node Marketplace App
App URL: http://{{ _domain }}:8222
Documentation: https://www.linode.com/marketplace/apps/linode/nats-single-node/
*********************************************************
To delete this message of the day: rm /etc/motd