port: {{ nats_port }}
monitor_port: {{ monitor_port }}
server_name: {{ name }}
jetstream {
  store_dir: /data
}
accounts {
  example: {
    jetstream: enabled
    users = [
      {
		user: example,
		password: {{ example_user_password }}
	  }
    ]
  }
  system: {
    users = [
      {
		user: system,
		password: {{ system_user_password }}
	  }
    ]
  }
}
mqtt {
  port: {{ mqtt_port }}
}
websocket {
  port: 8888
  no_tls: true
}
system_account: system