[defaults]
host_key_checking = False
enable_plugins = linode
deprecation_warnings = False
interpreter_python = /usr/bin/python3
roles_path=./roles:../linode_helpers/roles
# relative or absolute roles_paths are required.
