---
# cloudron tasks as block
- name: Install Cloudron, handle status 1
  block:
    - name: Download Cloudron
      ansible.builtin.get_url:
        url: https://cloudron.io/cloudron-setup
        dest: /tmp/cloudron-setup
        mode: '0755'

    - name: Set cloudron executable
      ansible.builtin.file:
        path: /tmp/cloudron-setup
        mode: '0755'

    - name: Run Cloudron installer
      ansible.builtin.command:
        chdir: /tmp
        cmd: ./cloudron-setup --provider linode-mp
      register: cloudron_result

  rescue:
    - name: Print cloudron msg
      when: '"After reboot" in cloudron_result.stdout'
      debug:
        msg: '{{ cloudron_result.stdout }}'
