{
  "id": 1,
  "uid": "fdwwim1fm7sw0b",
  "orgId": 1,
  "name": "akamai-insights-datasource",
  "type": "akamai-insights-datasource",
  "typeName": "Akamai Insights Datasource Plugin",
  "typeLogoUrl": "public/plugins/akamai-insights-datasource/img/logo.svg",
  "access": "proxy",
  "url": "",
  "user": "",
  "database": "",
  "basicAuth": false,
  "isDefault": true,
  "jsonData": {
    "accessToken": "{{ akamai_access_token }}",
    "clientSecret": "{{ akamai_client_secret }}",
    "clientToken": "{{ akamai_client_token }}",
    "host": "{{ akamai_host }}"
  },
  "readOnly": false
}