---
- name: Configure gunicorn socket
  copy:
    src: "files/gunicorn.socket"
    dest: "/etc/systemd/system/gunicorn.socket"
    mode: "0644"

- name: Configure Gunicorn systemd service
  template:
    src: "gunicorn.service.j2"
    dest: "/etc/systemd/system/gunicorn.service"
    mode: "0644"

- name: Reload systemd daemon
  systemd:
    daemon_reload: true

- name: Start and enable Gunicorn service
  systemd:
    name: "gunicorn"
    state: started
    enabled: true
