*********************************************************
Akamai Connected Cloud Grav CMS Marketplace App
App URL: https://{{ _domain }}/admin

Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/grav/
*********************************************************
To delete this message of the day: rm /etc/motd
