[defaults]
inventory         = localhost,
connection        = local
remote_user       = root
roles_path        = roles
collections_paths = ~/.ansible/collections
stdout_callback   = ansible.builtin.default
result_format     = yaml
retry_files_enabled = false

[privilege_escalation]
become = false
