[TA-Akamai_SIEM://{{ splunk_user }}]
access_token = <hidden>
client_secret = <hidden>
client_token = <hidden>
disable_splunk_cert_check = true
hostname = {{ siem_hostname }}
interval = 60
log_level = DBEUG
security_configuration_id_s_ = {{ security_config_id }}
sourcetype = akamaisiem