[credential:Elvis:access_token:]
password = {{ hash_access_token }}

[credential:Elvis:client_token:]
password = {{ hash_client_token }}

[credential:Elvis:client_secret:]
password = {{ hash_client_secret }}