[credential:{{ splunk_user }}:access_token:]
password = {{ hash_access_token }}

[credential:{{ splunk_user }}:client_token:]
password = {{ hash_client_token }}

[credential:{{ splunk_user }}:client_secret:]
password = {{ hash_client_secret }}