*********************************************************
Akamai Connected Cloud Splunk Marketplace App
App URL: https://{{ _domain }}:8000
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/splunk/
*********************************************************
To delete this message of the day: rm /etc/motd
