---
# set hostname
- name: setting up hostname
  import_role:
    name: hostname

# write _domain to vars
- name: write _domain to vars
  lineinfile: 
    insertafter: EOF
    path: group_vars/linode/vars
    line: | 
      _domain: {{ _domain }}
  when: _domain is defined

# dns creation
- name: create dns A record
  import_role:
    name: create_dns_record
  when: 
    - token_password is defined
    - default_dns is not defined

# set ssh public key
- name: set ssh public key
  import_role:
    name: sshkey

- name: disable root login
  import_role: 
    name: securessh
  when: disable_root is defined

# apt_setup_update
- name: update system packages
  import_role:
    name: update_pkgs

# ufw_install
- name: enabling ufw
  import_role:
    name: ufw

# ufw rules 
- name: apply ufw rules
  import_tasks: ufw_rules.yml

# fail2ban
- name: enabling fail2ban
  import_role:
    name: fail2ban_install

- name: install required system packages
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: true
  vars:
    packages:
      - apt-transport-https
      - ca-certificates
      - software-properties-common
