---
- name: Configure ufw rules
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: ["22", "80", "443"]

- name: Enable ufw
  community.general.ufw:
    state: enabled
    policy: deny
