*********************************************************
Akamai Connected Cloud Wazuh Marketplace App
App URL: https://{{ _domain }}
Credentials File for Sudo User: /home/{{ username }}/.credentials
Wazuh Credentials: /root/.deployment-secrets.txt
Documentation: https://www.linode.com/marketplace/apps/linode/wazuh/
*********************************************************
To delete this message of the day: rm /etc/motd
