*********************************************************
Akamai Connected Cloud Wazuh Marketplace App
App URL: https://{{ _domain }}
Wazuh Credentials: /root/.deployment-secrets.txt
Credentials File for Sudo User: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/products/tools/marketplace/guides/wazuh/
*********************************************************
To delete this message of the day: rm /etc/motd
