---
# sets account ssh pubkey to limited user
- name: Set ssh pubkey
  import_role:
    name: sshkey

- name: Disable root login
  import_role:
    name: securessh
  when: disable_root is defined

# apt_setup_update
- name: Update system packages
  import_role:
    name: update_pkgs

# ufw_install
- name: Enabling ufw
  import_role:
    name: ufw

# ufw rules
- name: Apply ufw rules
  import_tasks: ufw_rules.yml
