---
# set app specific ufw rules 
- name: Allow all access to tcp port 22
  community.general.ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: Allow all access to https port
  community.general.ufw:
    rule: allow
    port: '443'
    proto: tcp

- name: Allow all access to http port
  community.general.ufw:
    rule: allow
    port: '80'
    proto: tcp

- name: Allow all access to nats server port
  community.general.ufw:
    rule: allow
    port: "{{ nats_port }}"
    proto: tcp

- name: Allow all access to websocket port
  community.general.ufw:
    rule: allow
    port: "{{ websocket_port }}"
    proto: tcp

- name: Allow all access to mqtt port
  community.general.ufw:
    rule: allow
    port: "{{ mqtt_port }}"
    proto: tcp
