*********************************************************
Akamai Connected Cloud Secure Your Server Marketplace App
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/secure-your-server/
*********************************************************
To delete this message of the day: rm /etc/motd