*********************************************************
Akamai - Secure Your Server Quick Deploy App
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/secure-your-server
*********************************************************
To delete this message of the day: rm /etc/motd