ansible==13.5.0
passlib==1.7.4
yamllint==1.38.0
ansible-lint==26.3.0
flake8==7.3.0
linode_api4==5.42.0
dnspython==2.8.0
ansible-specdoc==0.0.20
pyyaml==6.0.3
pexpect==4.9.0
jmespath==1.0.1
PyMySQL==1.1.2
