---
- name: Configure UFW rules for core services
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - "22"
    - "80"
    - "443"
    - "4317"  # OTLP gRPC receiver (mTLS required)
    - "4318"  # OTLP HTTP receiver (mTLS required)

- name: Enable UFW
  community.general.ufw:
    state: enabled
    policy: deny
