*********************************************************
Akamai Connected Cloud Joomla Quick Deploy App
Site URL:  https://{{ _domain }}/
Admin URL: https://{{ _domain }}/administrator/
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/joomla/
*********************************************************
To delete this message of the day: rm /etc/motd
