*********************************************************
Akamai - Joomla Quick Deploy App
Site URL:  https://{{ _domain }}/
Admin URL: https://{{ _domain }}/administrator/
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/joomla
*********************************************************
To delete this message of the day: rm /etc/motd
