## 1 = enable, 0 = disable, 2 = user home directory
php_suexec="2"
port_offset="0"
admin_user="admin"
admin_pass="{{ litespeed_admin_pass }}"
admin_email="root@localhost"
easyapache_integration="1"
auto_switch_to_lsws="1"
deploy_lscwp="1"
