---
  - name: copy MOTD template to /etc/motd
    template:
      src: 'templates/motd.j2'
      dest: '/etc/motd'

  - name: writing creds into file
    copy:
      dest: '/home/{{ username }}/.credentials'
      mode: '0600'
      owner: '{{ username }}'
      group: '{{ username }}'
      content: |
        Sudo Username: {{ username }}
        Sudo Password: {{ password }}
        # Mongo
        Mongo Root User: mongo-root
        Mongo Root User Password: {{ mongo_root_password }}
        Mongo Pritunl User: pritunl
        Mongo Pritunl User Password: {{ mongo_pritunl_password }}
        # Pritunl
        Pritunl Username: pritunl
        Pritunl Password: {{ pritunl_credentials.stdout | regex_findall('password: \"(.*?)\"') | first }}

