---

- name: Installing required packages
  import_tasks: requirements.yml

- name: Create Passbolt database
  import_tasks: database.yml

- name: Configure Postfix for mail
  import_tasks: mail.yml

- name: Configure Nginx and Let's Encrypt
  import_tasks: nginx.yml

- name: Download Passbolt latest
  import_tasks: get_passbolt.yml

- name: Generate PGP key
  import_tasks: pgpkey.yml

- name: Configure passbolt
  import_tasks: configure_passbolt.yml