**************************************************************************************
Akamai Connected Cloud Microsoft Agent Framework Quick Deploy App
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/ms-agent-framework/
***************************************************************************************

To delete this message of the day: rm /etc/motd