#!/bin/bash
source /etc/os-release
echo "
      ____                  _    ___    __        ___   _ __  __
  ___|  _ \ __ _ _ __   ___| |  ( _ )   \ \      / / | | |  \/  |
 / __| |_) / _. | ._ \ / _ \ |  / _ \/\  \ \ /\ / /| |_| | |\/| |
| (__|  __/ (_| | | | |  __/ | | (_>  <   \ V  V / |  _  | |  | |
 \___|_|   \__._|_| |_|\___|_|  \___/\/    \_/\_/  |_| |_|_|  |_|
"
echo "Welcome to cPanel & WHM `/usr/local/cpanel/cpanel -V`"
echo ""
echo "Running $PRETTY_NAME"
echo ""
echo "For our full cPanel & WHM documentation: https://go.cpanel.net/docs"
echo ""
echo "For information on how to quickly set up a website in cPanel & WHM: https://go.cpanel.net/buildasite"
echo "" # This new line makes output from bash_profiles easier to read