{% if compose_support == "Yes" %}
COMPOSE_DIR=/opt/Yacht/compose/
THEME={{ yacht_theme }}
ADMIN_EMAIL={{ yemail }}
ADMIN_PASSWORD={{ ypassword }}
{% elif compose_support == "No" %}
THEME={{ yacht_theme }}
ADMIN_EMAIL={{ yemail }}
ADMIN_PASSWORD={{ ypassword }}
{% endif %}