---
- name: Install required packages
  apt:
    pkg:
      - nginx
      - curl
      - git
      - build-essential
      - openssl
      - libreadline6-dev
      - zlib1g
      - zlib1g-dev
      - libssl-dev
      - libyaml-dev
      - libsqlite3-0
      - libsqlite3-dev
      - sqlite3
      - libxml2-dev
      - libxslt1-dev
      - autoconf
      - libc6-dev
      - libncurses5-dev
      - automake
      - libtool
      - bison
      - nodejs
      - libcurl4-openssl-dev
      - ruby-dev
    state: latest
    update_cache: true

# Nginx
- name: Config file setup
  template:
    src: 'templates/nginx.conf.j2'
    dest: '/etc/nginx/sites-available/{{ _domain }}'
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'

- name: Create certs dir
  file:
    path: '/var/www/certs/.well-known'
    state: directory
    recurse: true

- name: Changing owner on certs dir
  file:
    path: '/var/www/certs/'
    state: directory
    recurse: true
    owner: www-data
    group: www-data

- name: Create a symbolic link for the nginx configuration
  file:
    src: '/etc/nginx/sites-available/{{ _domain }}'
    dest: '/etc/nginx/sites-enabled/{{ _domain }}'
    state: link

- name: Unlink the default nginx configuration
  file:
    path: '/etc/nginx/sites-enabled/default'
    state: absent
  notify: Reload nginx service

# ssl_certbot
- name: Setting up ssl certificate
  import_role:
    name: certbot_ssl

# beef setup
- name: Create beef group
  group:
    name: beef
    state: present

- name: Create beef user
  user:
    name: beef
    shell: /sbin/nologin
    groups: beef
    system: true
    create_home: false

- name: Clone beef repo
  git:
    repo: https://github.com/beefproject/beef.git
    dest: '/home/beef'
    version: master

- name: Changing beef dir owner
  file:
    path: /home/beef
    owner: beef
    group: beef
    recurse: true

- name: Copying lets encrypt certs to beef dir
  copy:
    src: '{{ item.src }}'
    dest: '{{ item.dest }}'
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'
  loop:
    - { src: "/etc/letsencrypt/live/{{ _domain }}/privkey.pem", dest: "/home/beef" }
    - { src: "/etc/letsencrypt/live/{{ _domain }}/fullchain.pem", dest: "/home/beef" }

- name: Adding config file
  template:
    src: 'beef_config.yaml.j2'
    dest: '/home/beef/config.yaml'
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'

# update bundler gem
- name: Manually update bundler
  shell: gem install bundler
  args:
    chdir: /home/beef

# Bundler module doesn't support the config set so using command
- name: Bundle config setup
  command: bundle config set --local path /home/beef/.gem
  become_user: beef
  become: true
  args:
    chdir: /home/beef

- name: Install dependencies using bundle
  community.general.bundler:
    executable: bundle
    state: present
    chdir: /home/beef
  become_user: beef
  become: true

- name: Install xmlrpc gem
  community.general.gem:
    name: xmlrpc
    state: latest

- name: Adding startup script
  template:
    src: 'beef_startup.j2'
    dest: '/home/beef/start_beef'
    mode: a+x

- name: Adding service file
  template:
    src: 'beef_service.j2'
    dest: '/etc/systemd/system/beef.service'
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'

- name: Reload systemd daemon
  systemd:
    daemon_reload: true

- name: Start beef service
  systemd:
    name: beef.service
    state: started
    enabled: true

- name: Adding ssl renew script
  template:
    src: 'ssl_cron_renew.bash.j2'
    dest: '/root/certbot-beef-renewal.sh'
    mode: '0775'

- name: Backup existing crontab
  shell: crontab -l > /tmp/cron_backup || true
  args:
    creates: /tmp/cron_backup

- name: Add new cron job
  cron:
    name: 'certbot beef renewal'
    minute: '*'
    hour: '1'
    weekday: '1'
    job: 'bash /root/certbot-beef-renewal.sh'

- name: Remove temporary file
  file:
    path: '/tmp/cron_backup'
    state: absent
