[Unit]
Description=Docker Compose Joplin Application Service
Requires=joplin.service
After=joplin.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker-compose up -d
ExecStop=/usr/bin/docker-compose down
ExecReload=/usr/bin/docker-compose up -d
WorkingDirectory=/etc/docker/compose/joplin/
[Install]
WantedBy=multi-user.target