*********************************************************
Akamai Connected Cloud Joplin Marketplace App
App URL: {{ _domain }}
Documentation: https://www.linode.com/marketplace/apps/linode/joplin/
*********************************************************