***********************************************************************
Akamai Connected Cloud MainConcept XAVC Transcoder Marketplace App
Documentation: https://www.mainconcept.com/transcoders
***********************************************************************
To delete this message of the day: rm /etc/motd