---
# Install Addons if requested
- name: Add addons
  import_role:
    name: addons
  when: add_ons != ['none']

- name: Copy MOTD template to /etc/motd
  template:
    src: 'templates/motd.j2'
    dest: '/etc/motd'
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'

- name: Writing creds into file
  copy:
    dest: '/home/{{ username }}/.credentials'
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'
    content: |
      Sudo Username: {{ username }}
      Sudo Password: {{ password }}

      # RabbitMQ Credentials:
      RabbitMQ Username: {{ rabbitmq_username }}
      RabbitMQ Password: {{ rabbitmq_password }}

      RabbitMQ Admin Username: {{ rabbitmq_admin_username }}
      RabbitMQ Admin Password: {{ rabbitmq_admin_password }}
