*********************************************************
Akamai - Beef Quick Deploy App
App URL: https://{{ _domain }}:3000/ui/panel
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/beef
*********************************************************
To delete this message of the day: rm /etc/motd