*********************************************************
Akamai Connected Cloud Redis Marketplace App
Credentials File: /home/{{ username }}/.credentials
Redis Configuration Directory: /etc/redis/
Redis Configuration File: /etc/redis/redis.conf
Redis SSL directories: /etc/redis/ssl/[ca,certs,keys,reqs]
Documentation: https://www.linode.com/docs/marketplace-docs/guides/redis/
*********************************************************
To delete this message of the day: rm /etc/motd