upstream open-webui {
    server 127.0.0.1:3000;
}

server {
    listen 80;
    server_name {{ _domain }};

    location / {
        proxy_pass http://open-webui;

        # Set necessary headers
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Enable WebSocket connections
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        # Extend timeouts for long AI model responses or downloads
        proxy_connect_timeout 60s;
        proxy_send_timeout 60s;
        proxy_read_timeout 36000s;

        # Allows large documents to be uploaded to Open WebUI
        client_max_body_size 100M;
    }
}