<Directory /var/www/wordpress/>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
</Directory>

<VirtualHost *:80>
   {% if subdomain != "www" %}
   ServerName {{ _domain }}
   {% elif subdomain == "www" %}
   ServerName {{ _domain }}
   ServerAlias www.{{ _domain }} 
   {% elif default_dns is defined %}
   ServerName {{ _domain }}
   {% endif %}
   DocumentRoot /var/www/{{ _domain }}/public_html
   ErrorLog /var/log/apache2/error.log
   CustomLog /var/log/apache2/access.log combined
   <files xmlrpc.php>
   order allow,deny
   deny from all
   </files>
</VirtualHost>