*********************************************************
Akamai Connected Cloud RocketChat Marketplace App
App URL: https://{{ _domain }}/admin
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/rocketchat/
*********************************************************
To delete this message of the day: rm /etc/motd
