Welcome to your Flask installation!

Your Flask site has been installed in: 

To view your site:
1. Visit https://{{ _domain }}
3. Sudo user credentials are in /home/{{ username }}/.credentials

Documentation: 
- https://flask.palletsprojects.com/en/stable/
- https://www.linode.com/docs/marketplace-docs/guides/flask/