*********************************************************
Akamai - Mistral with Open WebUI Quick Deploy App
App URL: https://{{ _domain }}
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/mistral
*********************************************************
To delete this message of the day: rm /etc/motd