---
# install Loki
- name: Install required dependencies for loki install
  apt:
    name: unzip
    state: present
    update_cache: true

- name: Create loki user
  user:
    name: loki
    system: true
    create_home: false
    shell: /usr/sbin/nologin

- name: Create loki directories
  file:
    path: '{{ loki_dir }}'
    state: directory
    owner: loki
    group: loki
    mode: '0755'
  loop:
    - '/etc/loki'
    - '/var/lib/loki'
    - '/var/lib/loki/chunks'
    - '/var/lib/loki/rules'
  loop_control:
    loop_var: loki_dir

- name: Get loki latest release metadata
  uri:
    url: https://api.github.com/repos/grafana/loki/releases/latest
  register: latest_loki

- name: Set loki version
  set_fact:
    loki_version: '{{ latest_loki.json.tag_name | regex_replace("^v", "") }}'

- name: Download loki latest
  get_url:
    url: 'https://github.com/grafana/loki/releases/download/v{{ loki_version }}/loki-linux-amd64.zip'
    dest: '/tmp/loki-{{ loki_version }}.zip'
    owner: loki
    group: loki
    mode: '0644'

- name: Untar loki archive
  unarchive:
    src: '/tmp/loki-{{ loki_version }}.zip'
    dest: '/tmp/'
    owner: loki
    group: loki
    mode: '0755'
    creates: '/tmp/loki-linux-amd64'
    remote_src: true

- name: Install loki binary to /usr/local/bin
  copy:
    src: '/tmp/loki-linux-amd64'
    dest: '/usr/local/bin/loki'
    owner: loki
    group: loki
    mode: '0755'
    remote_src: true

- name: Create loki config
  template:
    src: 'templates/loki-config.yml.j2'
    dest: '/etc/loki/loki-config.yml'
    owner: loki
    group: loki
    mode: '0644'

- name: Create loki systemd service file
  template:
    src: 'templates/loki.service.j2'
    dest: '/etc/systemd/system/loki.service'
    mode: '0644'
  notify: [Restart loki, Restart nginx]

- name: Reload systemd and enable/start loki
  systemd:
    name: loki
    daemon_reload: true
    enabled: true
    state: started

- name: Cleanup temporary loki files
  file:
    path: '/tmp/{{ loki_temp_file }}'
    state: absent
  loop: ['loki-{{ loki_version }}.zip', 'loki-linux-amd64']
  loop_control:
    loop_var: loki_temp_file

- name: Confirm grafana is ready
  wait_for:
    host: localhost
    port: 3000
    sleep: 5
    timeout: 60

- name: Add loki datasource to grafana
  uri:
    url: 'http://localhost:3000/api/datasources'
    method: POST
    url_username: 'admin'
    url_password: '{{ grafana_password }}'
    force_basic_auth: true
    headers:
      Content-Type: application/json
    body_format: json
    body:
      name: "Loki"
      type: "loki"
      access: "proxy"
      url: "http://localhost:3100"
      basicAuth: false
      isDefault: false
      jsonData: {}
  no_log: true
