---
# set_hostname
- name: Setting up hostname
  import_role:
    name: hostname

# sets account ssh pubkey to limited user
- name: Set ssh pubkey
  import_role:
    name: sshkey

# disable root login w/wo pubkey
- name: Secure ssh
  import_role:
    name: securessh
  when: disable_root is defined

# apt_setup_update
- name: Update system packages
  import_role:
    name: update_pkgs

# ufw_install
- name: Enabling ufw
  import_role:
    name: ufw

# ufw rules
- name: Apply ufw rules
  import_tasks: ufw_rules.yml

# fail2ban
- name: Enabling fail2ban
  import_role:
    name: fail2ban_install

# docker deps for sitespeed.io
- name: Add Docker GPG key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

# ubuntu 22.04 LTS
- name: Add docker repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu jammy stable
    state: present

- name: Install Docker engine
  apt:
    name: docker-ce
    update_cache: true
    state: present
