*********************************************************
Akamai - Minecraft Quick Deploy App
Credentials File: /home/{{ username }}/.credentials
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/minecraft-game-server-java-edition
*********************************************************
To manage your Minecraft server:
  Switch to the linuxgsm user: su - linuxgsm
  Configuration File: /home/linuxgsm/serverfiles/server.properties
  Status:   systemctl --user status mcserver
  Start:    systemctl --user start mcserver
  Stop:     systemctl --user stop mcserver
  Restart:  systemctl --user restart mcserver
  Console:  ./mcserver console

To delete this message of the day: rm /etc/motd
