*********************************************************
Akamai Connected Cloud LinuxGSM Marketplace App
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/linuxgsm/
*********************************************************
To delete this message of the day: rm /etc/motd
