upstream vault {
    server 127.0.0.1:8200;
}

server {
    listen 80;
    server_name {{ _domain }};

    client_max_body_size 32m;

    location / {
        proxy_pass         https://vault;
        proxy_ssl_verify   off;
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto https;

        proxy_read_timeout 600s;
        proxy_send_timeout 600s;
        proxy_buffering    off;
    }
}
