ui = true
disable_mlock = true

storage "raft" {
  path    = "/opt/vault/data"
  node_id = "node1"
}

listener "tcp" {
  address                          = "127.0.0.1:8200"
  tls_cert_file                    = "/opt/vault/tls/tls.crt"
  tls_key_file                     = "/opt/vault/tls/tls.key"
  x_forwarded_for_authorized_addrs = ["127.0.0.1/32"]
}

api_addr     = "https://{{ _domain }}"
cluster_addr = "https://127.0.0.1:8201"
