[Unit]
Description=Docker Compose Jupyter Application Service
Requires=jupyter.service
After=jupyter.service

[Service]
Type=simple
RemainAfterExit=yes
User=jovyan
WorkingDirectory=/opt/notebooks
ExecStart=/usr/bin/docker run --rm -p 127.0.0.1:8888:8888 -v /opt/notebooks:/home/jovyan/work jupyter/minimal-notebook
Restart=unless-stopped

[Install]
WantedBy=multi-user.target