*********************************************************
Akamai Connected Cloud Jupyterlab Marketplace App
App URL: https://{{ _domain }}
Credentials File: /root/.credentials
Documentation: https://www.linode.com/marketplace/apps/linode/jupyterlab/
*********************************************************
To delete this message of the day: rm /etc/motd