*********************************************************
Akamai Connected Cloud JupyterLab Marketplace App
App URL: https://{{ _domain }}
Obtaining the JupyterLab Token: ./get_jupyter_token.sh
Documentation: https://www.linode.com/marketplace/apps/linode/jupyterlab/
*********************************************************
To delete this message of the day: rm /etc/motd