server {
        listen 80;
        server_name ${ABS_DOMAIN};
        access_log /var/log/nginx/reverse-access.log;
        error_log /var/log/nginx/reverse-error.log;
        location /wss/ {
                proxy_pass http://127.0.0.1:8888;
                proxy_http_version 1.1;
                proxy_buffering off;
                proxy_set_header Upgrade \$http_upgrade;
                proxy_set_header Connection "Upgrade";
                proxy_read_timeout 86400;
  }
        location /api/kernels/ {
                proxy_pass http://127.0.0.1:8888;
                proxy_http_version 1.1;
                proxy_buffering off;
                proxy_set_header Upgrade \$http_upgrade;
                proxy_set_header Connection "Upgrade";
                proxy_read_timeout 86400;
  }
        location /terminals/ {
                proxy_pass http://127.0.0.1:8888;
                proxy_http_version 1.1;
                proxy_buffering off;
                proxy_set_header Upgrade \$http_upgrade;
                proxy_set_header Connection "Upgrade";
                proxy_read_timeout 86400;
  }
        location / {
                proxy_pass http://127.0.0.1:8888;
  }
}