# /etc/nginx/snippets/ssl.conf
    {% if default_dns is defined %}
ssl_certificate /etc/letsencrypt/live/{{ _domain }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ _domain }}/privkey.pem;
    {% elif subdomain != "www" %}
ssl_certificate /etc/letsencrypt/live/{{ subdomain }}.{{ domain }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ subdomain }}.{{ domain }}/privkey.pem;
    {% elif subdomain == "www" %}
ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem; 
    {% endif %}
