*********************************************************
Akamai Connected Cloud Hermes Quick Deploy App
Credentials File: /home/{{ username }}/.credentials
Documentation: https://www.linode.com/docs/marketplace-docs/guides/hermes/
*********************************************************

To delete this message of the day: rm /etc/motd