*********************************************************
Akamai - Valkey Quick Deploy App
Credentials File: /home/{{ username }}/.credentials
Valkey Configuration Directory: /etc/valkey/
Valkey Configuration File: /etc/valkey/valkey.conf
Valkey SSL directories: /etc/valkey/ssl/[ca,certs,keys,reqs]
Valkey Install directory: /var/valkey
Valkey Data Directory: /var/valkey/data
Valkey SRC: /var/valkey/lib/[...]
Valkey DEFAULT Configuration File: /var/valkey/lib/valkey.conf
Documentation: https://techdocs.akamai.com/quick-deploy-apps/docs/valkey
*********************************************************
To delete this message of the day: rm /etc/motd
