name: development workflow

on:
  workflow_dispatch:

jobs:
  static-code-analysis:
    name: static code analysis
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: run static code analysis
        run: |
          echo "Running static code analysis..."