---
name: Development Workflow
on:
  workflow_dispatch:
jobs:
  static-code-analysis:
    name: Static code analysis
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Run ShellCheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck
          find . -type f -name "*.sh" -print0 | xargs -0 shellcheck --severity=error
