---
name: Development Workflow
on:
  workflow_dispatch:
jobs:
  static-code-analysis-shellcheck:
    name: Static code analysis - shellcheck
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Run ShellCheck
        run: bash .github/scripts/static-code-shellcheck.sh
  static-code-analysis-yamllint:
    name: Static code analysis - yamllint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Run yamllint
        run: bash .github/scripts/static-code-yamllint.sh
  static-code-analysis-ansbible-lint:
    name: Static code analysis - ansible-lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Run ansible-lint
        run: bash .github/scripts/static-code-ansible-lint.sh
  get-list-of-apps:
    name: Getting list of apps
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs:
      - static-code-analysis-shellcheck
      - static-code-analysis-yamllint
      - static-code-analysis-ansbible-lint
    outputs:
      configs: ${{ steps.configs-matrix.outputs.configs }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Find app folders with changes
        id: app-matrix
        run: bash .github/scripts/get-changes-from-pr.sh
      - name: Find app configs
        id: configs-matrix
        run: bash .github/scripts/get-app-configs.sh
        env:
          APPS: ${{ steps.app-matrix.outputs.apps }}
  combined-job:
    name: App deployment and testing
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: get-list-of-apps
    if: needs.get-list-of-apps.outputs.configs != '[]'
    strategy:
      fail-fast: false
      matrix:
        app: ${{ fromJson(needs.get-list-of-apps.outputs.configs) }}
      max-parallel: 10
    env:
      LINODE_API_SECRET: ${{ secrets.LINODE_API_SECRET }}
      LINODE_ROOT_PASS: ${{ secrets.LINODE_ROOT_PASS }}
      LINODE_DOMAIN: ${{ vars.LINODE_DOMAIN }}
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
      - name: Get Linode configuration for ${{ matrix.app }}
        run: bash deployment_scripts/${{ matrix.app }}/linode-config.sh
      - name: Provisioning Linode for ${{ matrix.app }}
        id: linode-provisioning
        env:
          APP_NAME: ${{ matrix.app }}
        run: bash .github/scripts/linode-provisioning.sh
      - name: Deploying ${{ matrix.app }}
        env:
          APP_NAME: ${{ matrix.app }}
          BRANCH: ${{ github.head_ref }}
          GIT_REPO: ${{ github.event.pull_request.head.repo.clone_url }}
          GH_USER: ${{ github.repository_owner }}
          LINODE_IPV4: ${{ steps.linode-provisioning.outputs.LINODE_IPV4 }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: bash .github/scripts/app-installation.sh
      - name: Deleting Linode for ${{ matrix.app }}
        if: always()
        env:
          LINODE_ID: ${{ steps.linode-provisioning.outputs.LINODE_ID }}
        run: bash .github/scripts/linode-deletion.sh
