---
# Install Addons if requested
- name: Add addons
  import_role:
    name: addons
  when: add_ons != ['none']

# Final system configurations and cleanup
- name: Ensure services are started and enabled
  systemd:
    name: "{{ item }}"
    state: started
    enabled: true
  loop: [arangodb3, nginx]
- name: Set up MOTD
  template:
    src: motd.j2
    dest: /etc/motd
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'
- name: Writing creds to file
  copy:
    dest: '/home/{{ username }}/.credentials'
    mode: '0600'
    owner: '{{ username }}'
    group: '{{ username }}'
    content: |
      Sudo Username: {{ username }}
      Sudo Password: {{ password }}
      ArangoDB Root Password: {{ arangodb_root_password }}
      ArangoDB version: {{ arangodb_version }}
