---
- name: Install redis
  import_role:
    name: database
  vars:
    database: redis

- name: Install PHP Redis extension
  apt:
    name: php8.3-redis
    state: present
    update_cache: true
  notify: Restart php8.3-fpm
